src/__pycache__/
src/models/__pycache__/
src/routes/__pycache__/
src/utils/__pycache__/
database/
.env
env/
llm_env/
DS_Store
src/static/fonts
src/static/images
src/static/javascripts
src/static/stylesheets
src/static/index.html
build.sh