.main-container {
  display: flex;
  flex-direction: column;
}

.header-container h3 {
  font-family: 'Noto Sans';
  font-size: 26px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100%
}

.upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.avatar-preview img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.upload-button,
.webcam-button {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 
    background-color 0.2s ease-in-out, 
    color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  text-align: center;
}

.upload-button {
  background-color: rgb(236, 54, 14);
  color: #ffffff;
}

.upload-button:hover {
  background-color:rgb(198, 47, 13);
}

.webcam-button {
  background-color: white;
  color: rgb(236, 54, 14);
  border: 2px solid rgb(236, 54, 14);
}

.website-button:hover {
  background-color: #e0e0e0;
  color: rgb(198, 47, 13);
  border-color: rgb(198, 47, 13);
}

#file-input {
  display: none;
}

.bottom-container hr {
  height: 2px;
  background-color: #ececec;
  margin: 20px auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.conditions-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;
}

.conditions-button:hover {
  color: rgb(236, 54, 14); 
  text-decoration: underline; 
}

.skip-button {
  color: rgb(236, 54, 14);
  transition: 0.2s;
}

.skip-button:hover {
  color:rgb(198, 47, 13);
  text-decoration: underline;
}

.preview-container {
  margin-left: auto;
  max-width: 300px; 

}

.preview-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media only screen and (max-width: 600px) {
  .upload-container,
  .button-container,
  .preview-container {
    flex-direction: column;
    align-items: center;
  }

  .avatar-preview,
  .preview-container {
    margin: 0 auto;
  }

  .upload-button,
  .webcam-button {
    width: 100%;
    margin: 0 auto 0.75em auto;
  }
}