.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container #image-1 {
  width: 100%;
  height: auto;
  margin: 0;
}

.header-section {
  background-color: #ececec;
  text-align: center;
  padding: 20px;
}

.header-section h2 {
  font-family: 'Noto Sans';
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.header-section button {
  background-color: red;
  color: #ffffff;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin: 10px 0;
}

.main-section #image-2 {
  width: 80%;
  margin: 20px auto;
}

.main-section h2 {
  font-size: 18px;
}

.main-section .explore-header p {
  font-family: "Noto Sans";
  font-size: 16px;
  text-align: center;
  padding: 10px;
}

.main-section #search-ideas {
  width: 80%;
  padding: 8px;
}

.main-section #section-divider {
  width: 80%;
  margin: 20px auto;
}

@media (min-width: 768px) {
  .content-container #image-1 {
    width: 50%;
  }

  .header-section {
    display: flex;
    justify-content: center;
  }

  .content-container {
    display: flex;
  }

  .content-container #image-1,
  .header-section h2,
  .header-section button,
  .main-section #image-2,
  .main-section h2,
  .main-section .explore-header p,
  .main-section #search-ideas,
  .main-section #section-divider {
    width: auto;
    margin: auto;
    padding: auto;
  }
}
