.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container #image-1 {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.header-section {
  background-color: #ececec;
  text-align: center;
  padding: 2em;
}

.header-text {
  margin-bottom: 1em;
}

.header-section h2 {
  font-family: 'Noto Sans';
  font-size: 1.75em;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}

.header-section button {
  background-color: rgb(236, 54, 14);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0.8em 1.6em;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 1em auto;
  display: block;
}
.header-section button:hover {
  background-color: rgb(198, 47, 13);
  text-decoration: none;
}

.main-section {
  text-align: center;
}

.main-section #image-2 {
  width: 80%;
  max-width: 300px;
  margin: 1em auto;
}

.main-section h2 {
  font-size: 1.5em;
  margin: 1em 0;
}

.main-section .explore-header h2 {
  margin: 0.625em;
}

.main-section .explore-header p {
  font-family: "Noto Sans";
  font-size: 1.2em;
  text-align: center;
  margin: 0;
  padding: 0.75em;
}

.main-section #search-ideas {
  width: 90%;
  max-width: 500px;
  margin: 1em auto;
  padding: 0.75em;
}

.main-section #section-divider {
  width: 80%;
  margin: 1em auto;
}

@media only screen and (max-width: 768px) {
  .content-container #image-1 {
    width: 50%;
  }

  .header-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .header-text {
    text-align: center;
  }

  .content-container {
    display: flex;
  }

  .content-container #image-1,
  .header-section h2,
  .header-section button,
  .main-section #image-2,
  .main-section h2,
  .main-section .explore-header p,
  .main-section #search-ideas,
  .main-section #section-divider {
    width: auto;
    margin: 0.5em auto;
    padding: auto;
  }
  .main-section #search-ideas {
    width: 500px;
  }
  .header-section h2 {
    font-size: 1.5em;
  }
}