  .header-info h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }

  .header-info p {
    font-family: 'Noto Sans';
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 20px;
  }