.header-container {
  text-align: center;
  font-family: 'Noto Sans';
}

.header-container h2 {
  font-weight: bold;
  font-size: 2.5rem; 
  margin: 3rem auto; 
}

.header-container p {
  font-size: 1.125rem; 
  margin: 2rem auto; 
}

.header-container hr {
  color: #ececec;
  margin-bottom: 2rem; 
}

.signup-container label {
  display: block;
  font-size: 0.9375rem; 
  font-family: 'Noto Sans';
  width: 90%;
  margin: 0 auto; 
}

.signup-container input {
  width: 100%;
  padding: 1rem; 
}

.continue-container {
  text-align: center;
}

.continue-container button {
  display: block;
  background-color: rgb(236, 54, 14);
  color: #ffffff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 90%;
  margin: 1rem auto; 
  margin-bottom: 2rem; 
  transition: 0.2s;
}

.continue-container button:hover {
  background-color: rgb(236, 54, 14);
}

@media only screen and (max-width: 600px) {
  .header-container h2 {
/* <<<<<<< HEAD */
    font-weight: bold;
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
  } 

  .header-container p {
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
  }

  .header-container hr {
    color: #ececec;
    margin-bottom: 30px;
/* /* ======= */
    font-size: 2rem; 
  }

  .header-container p {
    font-size: 1rem; 
/* >>>>>>> 2946619a5d17a9b935ace40559f4ac8d7ed0b23f */
  }

  .signup-container label {
    width: 80%;
  }

  .continue-container button {
    width: 80%;
  }
}
