.header-container {
    text-align: center;
    font-family: 'Noto Sans';
}

.header-container h2 {
    font-weight: bold;
    font-size: 30px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-container p {
    font-size: 18px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
}

.header-container hr {
    color: #ececec;
}