/* submit.css */

.submit-page .submit-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.submit-page .submit-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.submit-page .form-group {
  margin-bottom: 20px;
}

.submit-page label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.submit-page input[type="text"],
.submit-page textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-page button {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.submit-page button:hover {
  background-color: #0056b3;
}

.submit-idea:hover {
  background-color: rgb(198, 47, 13);
}

@media only screen and (max-width: 600px) {
  .submission-prompt,
  .submission-type-header { 
    width: 90%; 
  }

  .submission-option input {
    width: 100%;
  }

  .attachment-item {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .attachment-info {
    margin-top: 5px;
  }

  .add-attachment {
    width: 100%;
  }
}

.form-group #anonymous {
  margin-left: 1%;
}
