/* authenticated-header.css */

/* Container for the header elements */
header {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center; /* Vertically center items */
}

/* Style for the header title */
#header-title {
  color: red;
  font-family: 'IBM Plex Mono';
  font-size: 2em;
  text-decoration: none;
}

/* Style for the links */
.link-container {
  display: flex;
  align-items: center; /* Align links vertically */
}

#home-link,
#ideas-link {
  color: black;
  font-size: 1.25em;
  font-family: 'Fredoka One';
  font-weight: normal;
}

/* Style for the search bar */
.search-bar-container {

}

#add-new-button {
  background-color: red;
  color: #ffffff;
  padding: 0.66rem 2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100px;
  margin: 10px;
}

#search-ideas {
  width: 310px; /* Adjust search bar width as needed */
  padding: 8px; /* Adjust search bar padding */
}

#home-link,
#ideas-link,
#search-ideas,
#dark-mode-button,
#notification-button,
#avatar-button, 
#add-new-button {
  margin-left: 5%;
}

#home-link:hover,
#ideas-link:hover {
  position: relative;
  text-decoration: none;
}

#home-link:hover::after,
#ideas-link:hover::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px; /* Adjust this value to change the distance from the links */
  width: 100%;
  height: 2px;
  background-color: red;
  padding: 5%;
}

/* Make all elements inside header smaller depending on window size */
@media screen and (max-width: 1080px) {
  header {
    font-size: 0.6em; /* Adjust font size for smaller screens */
    padding: auto
  }

  #search-ideas {
  }
}
