  .main-header {
    position: fixed;
  }
  button {
    padding: 0;
    border: none;
    background: none;
  }
  
  h1 {
    margin: 0;
  }
  
  #header-title {
    color: rgb(236, 54, 14);
    font-family: 'IBM Plex Mono';
    font-size: 2em;
    text-decoration: none; 
  }

  #login-button {
    color:black;
    font-size: 1.25em;
    font-family: 'Fredoka One';
    font-weight: bold;
  }
  #login-button:hover {
    text-decoration: underline;
  }

  #signup-link {
    color: rgb(236, 54, 14);
    font-size: 1.25em;
    font-family: 'Fredoka One';
    font-weight: bold;
    transition: 0.2s;
  }
  #signup-link:hover {
    color: rgb(198, 47, 13);
    text-decoration: underline;
  }
  