  button {
    padding: 0;
    border: none;
    background: none;
    font-size: 1.25em;
    font-family: 'Fredoka One';
    font-weight: bold;
  }
  
  h1 {
    font-size: 2em;
    margin: 0;
  }
  
  #header-title {
    color: red;
    font-family: 'IBM Plex Mono';
    font-weight: bold;
  }

  #login-button {
    color:black;
  }

  #signup-button {
    color:red;
  }
  