
/* /frontend/src/styles/header.css */
  header {

    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    display: flex;
    gap: 1rem;
  }
  
  #header-title {
    color: red;
    font-family: 'IBM Plex Mono';
    font-weight: bold;
  }
  